body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  margin: auto;
  height: 600px;
  width: 1000px;
  justify-content: center;
  align-items: center;
}

.type {
  display: flex;
}

h1 {
  white-space: nowrap;
}

.underline {
  border-bottom: solid;
}

.right {
  color: green;
}

.wrong {
  color: red;
}
