body {
  text-align: center;
  font-family: "Tiempos Headline", sans-serif;
}

.container {
  /* max-width: 600px; */
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

/*
.column-fourth {
  background-color: silver;
}

.footer {
  display: flex;
  padding: 1em;
}    */
